:root {
    --primary: #222831;
    --secondary: #31363F;
    --green: #016A70;
    --red: #FF2E63;
    --accent: #76ABAE;
    --light: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100%;

    /* Background */
    background-image: url("assets/background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Centering main or app container */
    display: flex;
    align-items: center;
    justify-content: center;

    & ul { list-style: none; }
    & a {
        text-decoration: none;
        color: inherit;
    }
    & a:hover { text-decoration: underline; }
}

.app-container {
    width: 90%;
    max-width: ;
    padding: 1rem;
    border: 1px solid var(--light);
    border-radius: 1rem;
    background-color: rgba(255, 525, 255, 0.03);
    backdrop-filter: blur(10px);
}

.app-title {
    width: fit-content;
    font-size: 2.2rem;
    color: var(--light);
    border-bottom: 1px solid var(--light);
}

.userInput {
    border: 1px solid var(--light);
    height: 3rem;
    margin: 1rem 0;
    position: relative;
}

.userInput input {
    background-color: var(--light);
    color: var(--dark);
    font-size: 1.2rem;
    padding: 0 25% 0 5%;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.userInput input:focus {
    border: none;
    outline: none;
}

.userInput button {
    width: 25%;
    height: 100%;
    background-color: var(--accent);
    color: var(--light);
    font-size: 1.2rem;
    border: none;
    border-radius: 2rem;
    position: absolute;
    right: 0;
    z-index: 1;
}

.userInput button:hover {
    background-color: var(--green);
    font-weight: 600;
}

.userInput button:active { background-color: #EEEEEE;color: var(--primary);}

.taskWrapper .task {
    display: flex;
    align-items: center;
    border: 1px solid var(--light);
    height: 3rem;
    
}

.task label {
  width: 90%;
  display: flex;
  align-items: center;
}

.task label .task-desc {
  height: 3rem;
  padding: .1rem .5rem;
  font-size: 1.2rem;
  color: var(--light);
  overflow-y: auto;
}

.task .trashBtn {
  width: 10%;
  height: 100%;
}